/* app css stylesheet */


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

/* Styling for individual article pages */

/* 1. Wordcloud */
#demo {
    margin: 15px auto;
}

#net {
  background: lightseagreen !important;
  min-height: 110px;

}

#searchbar{
    margin-bottom:30px;
}

#secondrow {
    margin-bottom:30px;
}

.bg-image {
    position: relative;
    margin:0px;
    padding:0px;
    overflow:hidden;
    opacity:0.5;
    transition:all 0.3s ease;

}

.bg-image:hover
{
    opacity:1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.bg-image img {
    display: block;
    max-width:100%;
    max-width:100%;
    height:220px;
    margin: 0 auto;
}



.bg-image h1 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.col-md-3.tile {
    padding:0px;
    margin:0px;
}

body { padding-top: 70px; }


#books {
    background-size:100%;
    background-repeat: no-repeat;
}

#films {
    background-size:100%;
    background-repeat: no-repeat;
}

#software {
    background-size:100%;
    background-repeat: no-repeat;
}

#music {
    background-size:100%;
    background-repeat: no-repeat;
}

#broadcasting {
    background-size:100%;
    background-repeat: no-repeat;
}

#television {
    background-size:100%;
    background-repeat: no-repeat;
}

#education {
    background-size:100%;
    background-repeat: no-repeat;
}

#photography {
    background-size:100%;
    background-repeat: no-repeat;
}


