/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

/* Styling for individual article pages */

/* 1. Wordcloud */
#demo {
    margin: 15px auto;
}

#net {
  background: lightseagreen !important;
  min-height: 110px;

}


#books {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/f/f5/Book_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#films {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/6/62/Film_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#software {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/6/63/Software_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#music {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/b/b3/Music_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#broadcasting {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/9/93/Broadcasting_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#television {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/f/f5/Television_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#education {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/9/98/Education_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}

#photography {
    background-image: url("http://www.copyrightevidence.org/evidence-wiki/images/2/2c/Photography_on.png");
    background-size:100%;
    width: 25%;
    height: 280px;
    background-repeat: no-repeat;
}


