<table st-table="displayedCollection" class="table table-striped" st-safe-src="rowCollection">
    <thead>
    <div class="row" id="searchbar">
        <div class="col-md-12">
            <h3>Explore by searching on keywords</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <h2>{{title}}</h2>
    <tr>
        <th ng-if="rankOn">
            <input st-search="rank" placeholder="search for rank" class="input-sm form-control" type="search"/>
        </th>
        <th>
            <input st-search="title" placeholder="search for title" class="input-sm form-control" type="search"/>
        </th>
        <th>
            <input st-search="authorString" placeholder="search for author" class="input-sm form-control" type="search"/>
        </th>
        <th>
            <input st-search="year" placeholder="search for year" class="input-sm form-control" type="search"/>
        </th>
    </tr>
    <tr>
        <th ng-if="rankOn" st-sort="rank">Relevant</th>
        <th st-sort="title">Title</th>
        <th st-sort="authorString">Author</th>
        <th st-sort="year">Year</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in displayedCollection">
        <td ng-if="rankOn">{{row.rank}}</td>
        <td>{{row.title}}</td>
        <td>{{row.authorString}}</td>
        <td>{{row.year}}</td>
        <td>
            <button type="button" ng-click="view(row)" class="btn btn-success">
                View More Info
            </button>
        </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="text-center">
            <div st-template="pagination.html" st-pagination="" st-items-by-page="ctrl.itemsByPage"></div>
        </td>
        <td colspan="2">
            <div class="btn-group pull-right ng-scope">
                <!-- could be within a ng-repeat-->
                <button type="button" ng-class="{'active':ctrl.itemsByPage==10}" ng-click="ctrl.itemsByPage=10" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':ctrl.itemsByPage==25}" ng-click="ctrl.itemsByPage=25" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':ctrl.itemsByPage==50}" ng-click="ctrl.itemsByPage=59" class="btn btn-default">50</button>
            </div>
        </td>
    </tr>
    </tfoot>
</table>