<head>
    <script type="text/javascript" src="net/d3.v3.min.js.download"></script>
    <link type="text/css" rel="stylesheet" href="article/style.css">
</head>

<body>

<div class="container-fluid">
    <div class="row" id="searchbar">
        <div class="col-md-12">
            <h3>Explore by searching on keywords</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h2>{{title}} </h2>
  <!-- First row with the wordcloud -->
  <div class="row">
    <div class="col-md-12" id="wordcloud">
      <div id="demo"></div>
    </div>

  </div>

  <!-- Middle row with content -->
  <div class="row">
    <div class="col-md-2 sidebar-left">
        <h4>Authors</h4>
        <p ng-repeat="x in authors">
            <a href="#!/articles/author/{{x}}">
                {{x}}
            </a>
        </p>
        <h4>Countries</h4>
            <p ng-repeat="x in countries">
            <a href="#!/articles/country/{{x}}">
                {{x}}
            </a>
            </p>
        <h4>Industry</h4>
        <p ng-repeat="x in industry">
            <a href="#!/articles/industry/{{x.enum}}">
                {{x.string}}
            </a>
        </p>
    </div>

    <div class="col-md-8 article">
        <h3>Abstract</h3>
        <p>{{abstract}}</p>
    </div>

    <div class="col-md-2 sidebar-right">
        <h4>Similar Articles</h4>
      <p ng-repeat="x in similar">
        <a href="#!/page/{{x.pageid}}">
          {{x.name}}
        </a>
      </p>
    </div>
  </div>
  <!-- Row with the net -->
    <div class="row">
        <div class="col-md-12" id="net">
            <div id="chart">
            </div>
    </div>
</div>



</body>
<footer>
</footer>



<!-- possible to add later:
<h2>Citation</h2>
<p>{{citation}}</p>


-->
