<head>
    <script type="text/javascript" src="net/d3.v3.min.js.download"></script>
    <link rel="stylesheet" href="net/style.css">
</head>

<body>
<div class="container-fluid">
    <h1>Title - {{title}} </h1>
  <!-- First row with the wordcloud -->
  <div class="row">
    <div class="col-md-12" id="wordcloud">
      <div id="demo"></div>
    </div>

  </div>

  <!-- Middle row with content -->
  <div class="row">
    <div class="col-md-2 sidebar-left">
        <h3>Authors</h3>
        <p ng-repeat="x in authors">
            <a href="#!/articles/author/{{x}}">
                {{x}}
            </a>
        </p>
    </div>
    <div class="col-md-8 article">
        <h3>Abstract</h3>
        <p>{{abstract}}</p>


    </div>
    <div class="col-md-2 sidebar-right">
      <h3>Categories</h3>
        <h4>Industry</h4>
          <p ng-repeat="x in industry">
            <a href="#!/articles/industry/{{x.enum}}">
              {{x.string}}
            </a>
          </p>
        <h4>Recommended Articles</h4>
      <p ng-repeat="x in similar">
        <a href="#!/page/{{x.pageid}}">
          {{x.name}}
        </a>
      </p>
        <h4>Countries</h4>
        <p ng-repeat="x in countries">
            <a href="#!/articles/country/{{x}}">
                {{x}}
            </a>
        </p>
    </div>
  </div>
  <!-- Row with the net -->
    <div class="row">
        <div class="col-md-12" id="net">
            <div id="chart">
            </div>
    </div>
</div>



</body>
<footer>
</footer>



<!-- possible to add later:
<h2>Citation</h2>
<p>{{citation}}</p>


-->
